# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Overrides for generated resource names to the previous value
fullnameOverride: pulp-operator

# Might want to be moved to under `.operator`, but left for backwards compatibility.
image: quay.io/pulp/pulp-operator:v1.1.0
namespace: pulp
operatorNamespace: null # If unset/null, defaults to .Values.namespace in templates

podSecurityContext:
  runAsNonRoot: true

imagePullSecrets:
- name: redhat-operators-pull-secret

nodeSelector: {}
affinity: {}
tolerations: {}

serviceAccount:
   annotations: {}

operator:
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi
  relatedImages:
    pulp: quay.io/pulp/pulp-minimal:stable
    pulpWeb: quay.io/pulp/pulp-web:stable
    redis: docker.io/library/redis:latest
    postgres: docker.io/library/postgres:13

kubeProxy:
  image: gcr.io/kubebuilder/kube-rbac-proxy:v0.13.0
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi
