---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ template "pulp-operator.fullname" . }}
    control-plane: controller-manager
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    app.kubernetes.io/name: {{ .Chart.Name }}
    {{- include "pulp-operator.labels" . | nindent 4 }}
  name: {{ include "pulp-operator.fullname" . }}-controller-manager-metrics-service
  namespace: {{ .Values.operatorNamespace | default .Values.namespace }}
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    app: {{ template "pulp-operator.fullname" . }}
    control-plane: controller-manager
